# Core ML Libraries
pandas
numpy
scikit-learn
imbalanced-learn
xgboost

# Data Processing
joblib
# Database
psycopg2-binary
python-dotenv

# FastAPI
fastapi
uvicorn
pydantic
python-multipart

# Testing
requests
pytest
httpx

# Monitoring
prometheus-client

# Utilities
python-dateutil

#flask
flask